header.header.x-header
  .header-wrapper.box-shadow
    .conten-top.layout-default
      .icon-wrapper
        img(src="../images/common/daikoku-icon.png" alt="大黒市" class="logo")

      include ./_accessibility.pug





