extends common/_layout

block pageOption
  - pageClass.push('page-index')
  - contentClass.push('index-container')

block content
  section.section-content.section-content-hero
    img(src="../images/common/daikoku_top.png" alt="" class="hero-img")
    img(src="../images/common/daikoku_top_label.png" alt="" class="label-img")


  section.section-content
    include ../templates/parts/_life-menu.pug

  section.section-content.section-content-new-info
    include ../templates/parts/_new-info.pug

  section.section-content
    include ../templates/parts/_business-menu.pug
