extends common/_layout

block content
  -
    const breadcrumbItem = [
      {
        text : "トップページ",
        link : "./index.html",
        isCurrent : false

      },
      {
        text : "ライフシーンで探す",
        link : "",
        isCurrent : true

      },
    ]

  include ../templates/common/_breadcrumb.pug
  +breadcrumb(breadcrumbItem)

  section.layout-default
    include ../templates/parts/_life-scene-header.pug

  section.life-menu-search-section
    form
      .section-content
        include ../templates/parts/_life-scene.pug

      .section-content.bg-light
        include ../templates/parts/_status.pug

      .section-content
        include ../templates/parts/_matters.pug

      .section-content.layout-default
        .search-btn-wrapper
          button(type="submit" class="btn btn-primary btn-search box-shadow")
            | 検索する
