extends common/_layout

block content
  section.section-content
    include ../templates/parts/_life-scene.pug

  section.section-content.bg-light
    include ../templates/parts/_status.pug

  section.section-content
    include ../templates/parts/_matters.pug
