.section-content {
	&__hero {
		position: relative;
		height: 474px;
		overflow: hidden;

		.label-img {
			position: absolute;
			top: 0;
			right: 8%;
			width: 190px;
			z-index: 1;
		}
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 16px;
	}
	&__floor-map,
	&__contact {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: 240px;
		background-color: #fff;
		border: 1px solid black;
	}
}
@media all and (-ms-high-contrast: none) {
	.index-container {
		margin-bottom: 8px;
	}
}
