.index-container {
	.section-content {
		.section-content-header-wrapper {
			display: flex;
			align-items: center;
			.section-icon {
				display: block;
				width: 32px;
				height: auto;
				margin-right: 8px;
			}
		}
		.section-content-header {
			font-size: 18px;
			font-weight: bold;
			display: flex;
			justify-content: space-between;
			& + .section-content-body {
				margin-top: 16px;
			}
			a {
				background: #fff;
				padding: 4px 8px;
				line-height: 1;
				border-radius: 4px;
				color: #636b81;
				display: flex;
				align-items: center;
				svg {
					color: #f59432;
					margin-right: 4px;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.section-content-body {
			background-color: #fff;
			border-radius: 8px;
			padding: 16px 24px;
			overflow: hidden;
			.section-content-body-title {
				font-size: 18px;
				font-weight: bold;
			}
		}
	}
	.section-content-group {
		& + .section-content-group {
			margin-top: 50px;
		}
	}
	.searchbox-fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9999;
		.section-content-body {
			border-radius: 0 0 8px 8px;
		}
	}
	.section-search {
		display: block;
		width: 928px;
		margin: 0 auto;

		&.hide-animation {
			animation: hideAnimation 0.3s forwards;
		}
		@keyframes hideAnimation {
			from {
				transform: translateY(-100%);
			}
			to {
				transform: translateY(0);
			}
		}
		&.hide {
			display: none;
		}
		&.is-fixed {
			position: fixed;
			top: 0;
			width: 928px;
			max-width: 928px;
			z-index: 999;

			.section-content-body {
				border-radius: 0 0 8px 8px;
			}
		}
		.section-content-body {
			.content-search-wrapper {
				display: flex;
				justify-content: space-between;
				padding-top: 16px;
			}
			.nav {
				.nav-list {
					display: flex;
					justify-content: space-between;
					font-weight: bold;
					.nav-item {
						width: 16%;
						h1 {
							padding-bottom: 8px;
							text-align: center;
						}
						svg {
							display: none;
						}
						a {
							&:hover {
								text-decoration: underline;
								opacity: 0.8;
								transition: 0.2s all ease-in-out;
							}
						}
						&.life-environment {
							border-bottom: 2px solid #8ab992;
						}
						&.medical-welfare {
							border-bottom: 2px solid #7fa6d6;
						}
						&.job-industry {
							border-bottom: 2px solid #ddd0be;
						}
						&.tourism-culture {
							border-bottom: 2px solid #c97c8a;
						}
						&.education-child {
							border-bottom: 2px solid #746fa9;
						}
						&.prefectual-gov-info {
							border-bottom: 2px solid #97a8c1;
						}
					}
				}
			}
		}
	}
	.back-to-top {
		font-size: 18px;
		font-weight: bold;
		color: #0e67e1;
		display: flex;
		justify-content: flex-end;
		.top {
			display: flex;
			&:hover {
				opacity: 0.8;
				text-decoration: underline;
			}
		}
		svg {
			margin-left: 8px;
			font-size: 28px;
		}
	}
}

@media all and (-ms-high-contrast: none) {
	.index-container {
		margin-bottom: 8px;
	}
}

@media (max-width: map-get($global-width, break-point-sp)) {
	.index-container {
		.section-content-group {
			& + .section-content-group,
			.section-content + .section-content,
			.section-content-group-left + .section-content-group-right,
			.section-content-group-a {
				margin-top: 30px;
			}
		}

		.section-content {
			.section-content-body {
				padding: 10px;
			}
		}
		.section-search {
			padding: 0 16px;
			width: auto;
			.section-content-body {
				padding: 16px;
				.nav {
					display: none;
				}
				.content-search-wrapper {
					display: block;
					padding: 0;
				}
			}
		}
		.content-search {
			width: 100%;
			.search-box {
				input {
					flex-grow: 1;
				}
			}
		}
		.show-more {
			font-size: 14px;
		}
	}
}
