-
  var keyword = [
    {
      link : "",
      text : "雪みち"
    },
    {
      link : "",
      text : "ふく割"
    },
    {
      link : "",
      text : "ライブカメラ"
    },
    {
      link : "",
      text : "ふるさと納税"
    },
    {
      link : "",
      text : "PCR"
    },
    {
      link : "",
      text : "中部縦貫自動車道"
    },
    {
      link : "",
      text : "ふく育"
    },
    {
      link : "",
      text : "補助金"
    }
  ]

mixin featureKeywords(position)
  .content-search-keyword
    h3.title
      |注目キーワード
    .content-body
      ul.search-keyword-list
        - for (var i = 0; i < keyword.length; i++)
          - var item = keyword[i]

          li.search-keyword-item
            a(
              href="https://www.pref.fukui.lg.jp/search.html?q=" + item.text
              onClick="gtag('event', 'click', {'event_category': 'search-key-word', 'event_label': '"+position+"', 'value': '"+ item.text + "'});"
            )
              =item.text

          - if(i == 3) {
            li.search-keyword-item.show-all.x-show-all
              span.text
                | もっと見る
          - }
