extends ../common/_layout

block pageOption 
  include ../../data/_faq-data.pug
  -
    const breadcrumbItem = [
      {
        text : "トップページ",
        link : "/",
        isCurrent : false

      },
      {
        text : "よくあるご質問",
        link : "./faq.html",
      },
      {
        text : "文字を大きくできますか？",
      },
    ]
    const pageTitle = breadcrumbItem[2].text

include ../base/Breadcrumb.pug
include ../base/Banner.pug
include ../base/Input.pug
include ../base/Section.pug

block content
  include ../parts/_global-navi.pug
  +Breadcrumb({items: breadcrumbItem})

  +Banner({
    basePath: "../../images/top/",
    title: "よくあるご質問",
    icon: "question_menu_icon.png"
  })
  include ../parts/_answer-section.pug