extends ../common/_layout

block pageOption 
  -
    const breadcrumbItem = [
      {
        text : "トップページ",
        link : "/",
        isCurrent : false

      },
      {
        text : "市民トップ",
        link : "./citizen.html",
        isCurrent : false

      },
      {
        text : "妊娠から子育て",
        link : "./category-top.html",
        isCurrent : true

      },
    ]

    const radioList = [
      {
        id: "category-1",
        name: "category1",
        value: "",
        checked: true,
        label: "すべて"
      },
      {
        id: "category-2",
        name: "category1",
        value: "1",
        checked: false,
        label: "届出・申請",
        newInfoCount: 10
      },
      {
        id: "category-3",
        name: "category1",
        value: "2",
        checked: false,
        label: "金銭的支援",
        newInfoCount: 2
      },
      {
        id: "category-4",
        name: "category1",
        value: "3",
        checked: false,
        label: "支援サービス",
        newInfoCount: 4
      },
      {
        id: "category-5",
        name: "category1",
        value: "4",
        checked: false,
        label: "講演会・\nイベント",
        newInfoCount: 4
      },
      {
        id: "category-6",
        name: "category1",
        value: "5",
        checked: false,
        label: "施設",
        newInfoCount: 1
      },
      {
        id: "category-7",
        name: "category1",
        value: "6",
        checked: false,
        label: "お知らせ",
        newInfoCount: 2
      },
    ]

    const checkboxList = [
      {
        id: "detail-1",
        name: "detail1",
        value: "1",
        checked: false,
        label: "妊娠・出産に関する金銭的支援"
      },
      {
        id: "detail-2",
        name: "detail1",
        value: "1",
        checked: false,
        label: "ひとり親の方への金銭的支援"
      },
      {
        id: "detail-3",
        name: "detail1",
        value: "1",
        checked: false,
        label: "育児に関する金銭的支援"
      },
      {
        id: "detail-4",
        name: "detail1",
        value: "1",
        checked: false,
        label: "未熟児、障がい、難病のあるお子さんへの金銭的支援"
      },
      {
        id: "detail-5",
        name: "detail1",
        value: "1",
        checked: false,
        label: "遺児の方への金銭的支援"
      },
    ]

    const results = [
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: false,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: false,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: false,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: false,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: false,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: false,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: false,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
      {
        title: "特定不妊治療費助成",
        categories: [
          {
            label: "金銭的支援",
          },
          {
            label: "妊娠・出産に関する金銭的支援",
          },
        ],
        text: "本文です本文です本文です本文です本文です本文です本文です",
        summary: "概要です概要です概要です概要です概要です概要です概要です概要です",
        application: "申込です申込です申込です申込です申込です申込です申込です申込です申込です",
        link: "./detail.html",
        isNew: true,
      },
    ]

include ../base/Accordion.pug
include ../base/Breadcrumb.pug
include ../base/Button.pug
include ../base/Banner.pug
include ../base/Radio.pug
include ../base/Checkbox.pug
include ../base/SearchResult.pug
include ../base/ContactBanner.pug
include ../base/Pagination.pug

block content
  include ../parts/_global-navi.pug
  +Breadcrumb({items: breadcrumbItem})
  section.section-content__header
    +Banner({
      title: "妊娠から子育て",
      icon: "pregnant_child_icon.png"
    })

  section.section-content
    .category-search
      aside.search-result-condition
        h2.search-result-condition__title 
          | 知りたいこと
        form.search-result-condition__form
          .radio-list
            ul.radio-list__list
              each item in radioList 
                li.radio-list__item
                  +Radio({id: item.id, name: item.name, value: item.value, checked: item.checked, label: item.label})
                  if item.newInfoCount
                    .radio-list__count
                      p.count
                        = item.newInfoCount

          +Accordion({title: "change-condition", items: [{label: "絞り込む"}]})
            ul
              each item in checkboxList
                +Checkbox({
                  id: item.id,
                  name: item.name,
                  value: item.value,
                  checked: item.checked,
                  label: item.label
                })

      section.search-result-main
        h2.category-search__count
          = `${results.length} 件`
        ul.search-result-list
          each result in results
            li.search-result-list__item
              +SearchResult({
                title: result.title,
                categories: result.categories,
                text: result.text,
                link: result.link,
                summary: result.summary,
                application: result.application,
                isNew: result.isNew
              })
        +Pagination()

  section.section-content.bg-light
    .section-content__contact
      +ContactBanner({tel1: "03", tel2: "0000", tel3: "1111", dep: "健康福祉課", div: "保健所総務課", inCharge: "新型コロナウイルスワクチン"})
