extends ../common/_layout

block pageOption 
  include ../../data/_data.pug
  -
    const breadcrumbItem = [
      {
        text : "トップページ",
        link : "/",
        isCurrent : false

      },
      {
        text : "市民トップ",
        link : "./citizen.html",
        isCurrent : false

      },
      {
        text : "妊娠から子育て",
      },
    ]
    const radioList = [
      {
        id: "requirements-all",
        name: "requirements",
        value: "",
        checked: true,
        label: "すべて"
      },
      {
        id: "requirements-2",
        name: "requirements",
        value: "1",
        checked: false,
        label: "届出・申請",
        newInfoCount: 10
      },
      {
        id: "requirements-3",
        name: "requirements",
        value: "2",
        checked: false,
        label: "金銭的支援",
        newInfoCount: 2
      },
      {
        id: "requirements-4",
        name: "requirements",
        value: "3",
        checked: false,
        label: "支援サービス",
        newInfoCount: 4
      },
      {
        id: "requirements-5",
        name: "requirements",
        value: "4",
        checked: false,
        label: "講演会・\nイベント",
        newInfoCount: 4
      },
      {
        id: "requirements-6",
        name: "requirements",
        value: "5",
        checked: false,
        label: "施設",
        newInfoCount: 1
      },
      {
        id: "requirements-7",
        name: "requirements",
        value: "6",
        checked: false,
        label: "お知らせ",
        newInfoCount: 2
      },
    ]

    const checkboxList = [
      {
        id: "tags-1",
        name: "tags",
        value: "1",
        checked: false,
        label: "妊娠・出産に関する金銭的支援"
      },
      {
        id: "tags-2",
        name: "tags",
        value: "2",
        checked: false,
        label: "ひとり親の方への金銭的支援"
      },
      {
        id: "tags-3",
        name: "tags",
        value: "3",
        checked: false,
        label: "育児に関する金銭的支援"
      },
      {
        id: "tags-4",
        name: "tags",
        value: "4",
        checked: false,
        label: "未熟児、障がい、難病のあるお子さんへの金銭的支援"
      },
      {
        id: "tags-5",
        name: "tags",
        value: "5",
        checked: false,
        label: "遺児の方への金銭的支援"
      },
    ]
    const viewedLinkList = [
      {
        link: "/",
        img: "viewed_1.png",
        alt: "代替テキスト",
        heading: "講演会",
        text: "おじいちゃんとおばあちゃんのための子育てセミナー",
      },
      {
        link: "/",
        img: "viewed_2.png",
        alt: "代替テキスト",
        heading: "講演会",
        text: "おじいちゃんとおばあちゃんのための子育てセミナー",
      },
      {
        link: "/",
        img: "viewed_3.png",
        alt: "代替テキスト",
        heading: "講演会",
        text: "おじいちゃんとおばあちゃんのための子育てセミナーおじいちゃんとおばあちゃんのための子育てセミナーおじいちゃんとおばあちゃんのための子育てセミナーおじいちゃんとおばあちゃんのための子育てセミナーおじいちゃんとおばあちゃんのための子育てセミナーおじいちゃんとおばあちゃんのための子育てセミナーおじいちゃんとおばあちゃんのための子育てセミナーおじいちゃんとおばあちゃんのための子育てセミナー",
      },
    ]

include ../base/Accordion.pug
include ../base/Breadcrumb.pug
include ../base/Button.pug
include ../base/Banner.pug
include ../base/Radio.pug
include ../base/Checkbox.pug
include ../base/SearchResult.pug
include ../base/Pagination.pug
include ../base/ViewedLink.pug

block content
  include ../parts/_global-navi.pug
  +Breadcrumb({items: breadcrumbItem})
  section.section-content__header
    +Banner({
      title: "妊娠から子育て",
      description: `5件の新着情報があります。`,
      help: {
        text: "新着表記について",
        link: "/"
      },
      icon: "pregnant_child_icon.png"
    })

  section.section-content
    .category-search
      aside.search-result-condition
        h2.search-result-condition__title 
          | 知りたいこと
        form.search-result-condition__form
          .radio-list
            ul.radio-list__list
              each item in radioList 
                li.radio-list__item
                  .radio-list__radio
                    +Radio({id: item.id, name: item.name, value: item.value, checked: item.checked, label: item.label})
                  if item.newInfoCount
                    .radio-list__count
                      p.count
                        = item.newInfoCount

          +Accordion({title: "change-condition", items: [{label: "絞り込む"}]})
            ul.checkbox-list__list
              each item in checkboxList
                li.checkbox-list__item
                  +Checkbox({
                    id: item.id,
                    name: item.name,
                    value: item.value,
                    checked: item.checked,
                    label: item.label
                  })

      section.search-result-main
        h2.category-search__count
          span.result-count 
            = `${results.length}`
          | 件
        ul.search-result-list
          each result in results
            - const requirementsData = result.requirements.map((v, i) => String(v))
            - const tagsData = result.tags.map((v, i) => String(v))
            li.search-result-list__item(
              data-requirements=requirementsData
              data-tags=tagsData
            )
              +SearchResult({
                title: result.title,
                categories: result.categories,
                text: result.text,
                link: result.link,
                summary: result.summary,
                application: result.application,
                isNew: result.isNew
              })
        +Pagination()

  section.section-content.bg-light
    .section-content__viewed
      h2.section-content__title 
        | このページもよく読まれています
      ul.viewed-list
        each item in viewedLinkList
          li.viewed-list__item
            +ViewedLink({
              basePath: "../../images/common/",
              link: item.link,
              img: item.img,
              alt: item.alt,
              heading: item.heading,
              text: item.text,
            })