extends ../common/_layout

block pageOption
  -
    const breadcrumbItem = [
      {
        text : "トップページ",
        link : "/",
        isCurrent : false

      },
      {
        text : "市民トップ",

      },
    ]

include ../base/Breadcrumb.pug

block content
  include ../parts/_global-navi.pug
  +Breadcrumb({items: breadcrumbItem})
  section.section-content
    include ../parts/_search-life-scene.pug

  section.section-content.bg-light
    include ../parts/_citizen-menu-2.pug

  section.section-content
    include ../parts/_top-menu-2.pug
