extends ../common/_layout

block pageOption
  -
    const breadcrumbItem = [
      {
        text : "トップページ",
        link : "/",
        isCurrent : false

      },
      {
        text : "市民トップ",
        link : "./citizen.html",
        isCurrent : false

      },
      {
        text : "妊娠から子育て",
        link : "./category-top.html",
        isCurrent : false

      },
      {
        text : "妊娠の届出・母子健康手帳の交付",
      },
    ]
    const anchorNavList = [
      {
        link: "#article_1",
        label: "概要"
      },
      {
        link: "#article_2",
        label: "対象者"
      },
      {
        link: "#article_3",
        label: "届出について"
      },
      {
        link: "#article_4",
        label: "手数料"
      },
      {
        link: "#article_5",
        label: "必要なもの"
      },
      {
        link: "#article_6",
        label: "こんな時は届出が必要です"
      },
      {
        link: "#article_7",
        label: "お問い合わせ"
      },
    ]
    const viewedLinkList = [
      {
        link: "/",
        img: "viewed_1.png",
        alt: "代替テキスト",
        heading: "講演会",
        text: "おじいちゃんとおばあちゃんのための子育てセミナー",
      },
      {
        link: "/",
        img: "viewed_2.png",
        alt: "代替テキスト",
        heading: "講演会",
        text: "おじいちゃんとおばあちゃんのための子育てセミナー",
      },
      {
        link: "/",
        img: "viewed_3.png",
        alt: "代替テキスト",
        heading: "講演会",
        text: "おじいちゃんとおばあちゃんのための子育てセミナーおじいちゃんとおばあちゃんのための子育てセミナーおじいちゃんとおばあちゃんのための子育てセミナーおじいちゃんとおばあちゃんのための子育てセミナーおじいちゃんとおばあちゃんのための子育てセミナーおじいちゃんとおばあちゃんのための子育てセミナーおじいちゃんとおばあちゃんのための子育てセミナーおじいちゃんとおばあちゃんのための子育てセミナー",
      },
    ]

include ../base/Breadcrumb.pug
include ../base/ContactBanner.pug
include ../base/ViewedLink.pug

block content
  include ../parts/_global-navi.pug
  +Breadcrumb({items: breadcrumbItem})

  section.article
    h1.article__title 
      | 妊娠の届出・母子健康手帳の交付

    include ../base/AnchorList.pug
    +AnchorList({title: "目次", items: anchorNavList})

    include ../parts/_detail-content.pug

  section.section-content.bg-light
    .section-content__viewed
      h2.section-content__title 
        | このページもよく読まれています
      ul.viewed-list
        each item in viewedLinkList
          li.viewed-list__item
            +ViewedLink({
              basePath: "../../images/common/",
              link: item.link,
              img: item.img,
              alt: item.alt,
              heading: item.heading,
              text: item.text,
            })

  section.section-content
    .section-content__contact
      +ContactBanner({tel1: "03", tel2: "0000", tel3: "1111", dep: "健康福祉課", div: "保健所総務課", inCharge: "新型コロナウイルスワクチン"})