extends ../common/_layout

block pageOption
  -
    const pageTitle = "よくあるご質問"
    const breadcrumbItem = [
      {
        text : "トップページ",
        link : "/",
        isCurrent : false

      },
      {
        text : "よくあるご質問",
      },
    ]

include ../base/Breadcrumb.pug
include ../base/Banner.pug
include ../base/Input.pug
include ../base/Section.pug
include ../parts/_keyword-input.pug

block content
  include ../parts/_global-navi.pug
  +Breadcrumb({items: breadcrumbItem})

  +Banner({
    basePath: "../../images/top/",
    title: "よくあるご質問",
    icon: "question_menu_icon.png"
  })

  .faq-search#faq-search-input
    +KeywordInput({
      title: "聞きたいことはなんですか？",
      placeholder: "例：文字を大きく",
    })

  include ../parts/_questions.pug
  include ../parts/_tips.pug








