extends ../common/_layout

block pageOption
  -
    const breadcrumbItem = [
      {
        text : "トップページ",
        link : "/",
        isCurrent : false

      },
      {
        text : "よくあるご質問",
      },
    ]

include ../base/Breadcrumb.pug
include ../base/Banner.pug
include ../base/Input.pug
include ../base/Section.pug

block content
  include ../parts/_global-navi.pug
  +Breadcrumb({items: breadcrumbItem})

  section.section-content 
    .section-content__header
      +Banner({
        basePath: "../../images/top/",
        title: "よくあるご質問",
        icon: "question_menu_icon.png"
      })

  +Section()
    .keyword-input
      .keyword-input__title 
        | 聞きたいことはなんですか？
      .keyword-input__form
        +Input({placeholder: "例：文字を大きく"})
  include ../parts/_questions.pug
  include ../parts/_tips.pug








