extends ../common/_layout

block pageOption
	- contentClass.push('index-container')

block content
	section.section-content
		include ../parts/_alert.pug

	//- section.section-content
	//- 	include ../parts/_hero.pug

	section.section-content
		include ../parts/_slider.pug

	section.section-content 
		include ../parts/_top-menu.pug

	section.section-content.bg-light
		include ../parts/_top-menu-2.pug

