extends ../common/_layout

block pageOption
  -
    const breadcrumbItem = [
      {
        text : "トップページ",
        link : "/",
      },
      {
        text : "組織一覧・問い合わせ先",
      },
    ]

include ../base/Breadcrumb.pug
include ../base/Banner.pug
include ../base/Input.pug
include ../base/Section.pug
include ../parts/_keyword-input.pug

block content
  include ../parts/_global-navi.pug

  +Breadcrumb({items: breadcrumbItem})

  section.section-content 
    .section-content__header
      +Banner({
        basePath: "../../images/common/",
        title: "組織一覧・問い合わせ先",
        icon: "organization.png"
      })
  +KeywordInput({
    title: "フリーワード検索",
    placeholder: "部署名・業務などを入力してください",
  })

  include ../parts/_search-help.pug
  include ../parts/_department-list.pug


