extends ../common/_layout

block pageOption
	-
		const pageTitle = "選んで探す"
		const breadcrumbItem = [
			{
				text : "トップページ",
				link : "./index.html",
				isCurrent : false

			},
			{
				text : "選んで探す",
			},
		]

include ../base/Breadcrumb.pug
include ../base/Button.pug
include ../base/Banner.pug

block content
	include ../parts/_global-navi.pug
	+Breadcrumb({items: breadcrumbItem})

	+Banner({
		basePath: "../../images/common/",
		title: "選んで探す",
		description: "人生の出来事、「こんなことがしたい」「知りたい」といったことを\n選択いただくことで、ご自身に合った検索ができます。",
		icon: "search_menu_img.png"
	})

	section.section-content
		form
			.section-content
				include ../parts/_scene.pug

			.section-content.bg-light
				include ../parts/_status.pug

			.section-content
				include ../parts/_matters.pug

			.section-content.layout-default
				.search-btn__container
					+Button({
						type: "submit",
						label: "検索する",
						primary: true
					})
