extends ../common/_layout

block pageOption 
  include ../../data/_data.pug
  -
    const filter = [
      {
        label: "出産",
        value: "1",
        checked: false
      },
      {
        label: "学びたい",
        value: "2",
        checked: false
      },
      {
        label: "手続き・届出する",
        value: "3",
        checked: false
      },
      {
        label: "結婚",
        value: "4",
        checked: false
      },
      {
        label: "関連項目",
        value: "5",
        checked: false
      },
      {
        label: "関連項目",
        value: "6",
        checked: false
      },
      {
        label: "関連項目",
        value: "7",
        checked: false
      },
      {
        label: "関連項目",
        value: "8",
        checked: false
      },
      {
        label: "ご不幸",
        value: "9",
        checked: false
      },
      {
        label: "予備",
        value: "10",
        checked: false
      },
      {
        label: "予備",
        value: "11",
        checked: false
      },
      {
        label: "予備",
        value: "12",
        checked: false
      },
    ]
    const breadcrumbItem = [
      {
        text : "トップページ",
        link : "./index.html",
        isCurrent : false

      },
      {
        text : "選んで探す",
        link : "./search.html",
        isCurrent : false

      },
      {
        text : "選んで探す検索結果",
      },
    ]

include ../base/Accordion.pug
include ../base/Breadcrumb.pug
include ../base/Button.pug
include ../base/LinkButton.pug
include ../base/Banner.pug
include ../base/Checkbox.pug
include ../base/SearchResult.pug
include ../base/Pagination.pug

block content
  include ../parts/_global-navi.pug
  +Breadcrumb({items: breadcrumbItem})

  section.section-content__header
    +Banner({
      basePath: "../../images/common/",
      title: "選んで探す 検索結果",
      description: "「⚫︎⚫︎」、「⚫︎⚫︎」、「⚫︎⚫︎」の検索結果です",
      icon: "search_menu_img.png"
    })

  section.section-content
    .search-result
      section.search-result-main
        h2.search-result__count
          = `${results.length} 件`
        ul.search-result-list
          each result in results
            li.search-result-list__item
              +SearchResult({
                title: result.title,
                categories: result.categories,
                text: result.text,
                link: result.link,
                summary: result.summary,
                application: result.application
              })
        +Pagination()

      aside.search-result-condition
        form.search-result-condition__form
          +Accordion({title: "change-life-scene", items: [{label: "さらに絞り込む"}]})
            ul.scene-list 
              each item in filter 
                li.scene-list__item
                  +Checkbox({
                    id: `life-scene__${item.value}`,
                    name: "life-scene",
                    value: item.value,
                    checked: item.checked,
                    label: item.label,
                  })
            .search-result-condition-filter
              p.search-result-condition-filter__count 
                = results.length === 0 ? `該当するページはありません` :`${results.length} 件が該当します`
            .search-result-condition__btn
              +Button({
                label: "検索する",
                type:"submit",
                primary: true,
                disabled: results.length === 0 ? true : false
              })
          .search-back
            +LinkButton({
              label: "選んで探すに戻る",
              secondary: true,
              link: "./search.html"
            })





