extends ../common/_layout

block pageOption
  -
    const pageTitle = "サイトマップ"
    const breadcrumbItem = [
      {
        text : "トップページ",
        link : "/",
      },
      {
        text : "サイトマップ",
      },
    ]

    const citizenMap = {
      title: "市民の方",
      page: [
        {
          label: "妊娠から子育て",
          pages: [
            {
              title: "届出・申請",
              link: "/"
            },
            {
              title: "金銭的支援",
              link: "/"
            },
            {
              title: "支援サービス",
              link: "/"
            },
            {
              title: "講演会・イベント",
              link: "/"
            },
            {
              title: "施設",
              link: "/"
            },
            {
              title: "お知らせ",
              link: "/"
            },
          ]
        },
        {
          label: "入園・入学",
          pages: [
            {
              title: "届出・申請",
              link: "/"
            },
            {
              title: "金銭的支援",
              link: "/"
            },
            {
              title: "支援サービス",
              link: "/"
            },
            {
              title: "講演会・イベント",
              link: "/"
            },
            {
              title: "施設",
              link: "/"
            },
            {
              title: "お知らせ",
              link: "/"
            },
          ]
        },
        {
          label: "就職から退職まで",
          pages: [
            {
              title: "届出・申請",
              link: "/"
            },
            {
              title: "金銭的支援",
              link: "/"
            },
            {
              title: "支援サービス",
              link: "/"
            },
            {
              title: "講演会・イベント",
              link: "/"
            },
            {
              title: "施設",
              link: "/"
            },
            {
              title: "お知らせ",
              link: "/"
            },
          ]
        },
        {
          label: "結婚・離婚",
          pages: [
            {
              title: "届出・申請",
              link: "/"
            },
            {
              title: "金銭的支援",
              link: "/"
            },
            {
              title: "支援サービス",
              link: "/"
            },
            {
              title: "講演会・イベント",
              link: "/"
            },
            {
              title: "施設",
              link: "/"
            },
            {
              title: "お知らせ",
              link: "/"
            },
          ]
        },
        {
          label: "高齢・介護",
          pages: [
            {
              title: "届出・申請",
              link: "/"
            },
            {
              title: "金銭的支援",
              link: "/"
            },
            {
              title: "支援サービス",
              link: "/"
            },
            {
              title: "講演会・イベント",
              link: "/"
            },
            {
              title: "施設",
              link: "/"
            },
            {
              title: "お知らせ",
              link: "/"
            },
          ]
        },
        {
          label: "引越し",
          pages: [
            {
              title: "届出・申請",
              link: "/"
            },
            {
              title: "金銭的支援",
              link: "/"
            },
            {
              title: "支援サービス",
              link: "/"
            },
            {
              title: "講演会・イベント",
              link: "/"
            },
            {
              title: "施設",
              link: "/"
            },
            {
              title: "お知らせ",
              link: "/"
            },
          ]
        },
        {
          label: "病気・けが",
          pages: [
            {
              title: "届出・申請",
              link: "/"
            },
            {
              title: "金銭的支援",
              link: "/"
            },
            {
              title: "支援サービス",
              link: "/"
            },
            {
              title: "講演会・イベント",
              link: "/"
            },
            {
              title: "施設",
              link: "/"
            },
            {
              title: "お知らせ",
              link: "/"
            },
          ]
        },
        {
          label: "おくやみ",
          pages: [
            {
              title: "届出・申請",
              link: "/"
            },
            {
              title: "金銭的支援",
              link: "/"
            },
            {
              title: "支援サービス",
              link: "/"
            },
            {
              title: "講演会・イベント",
              link: "/"
            },
            {
              title: "施設",
              link: "/"
            },
            {
              title: "お知らせ",
              link: "/"
            },
          ]
        },
      ]
    }
    const businessMap = {
      title: "事業者の方",
      page: [
        {
          label: "届出・申請",
          pages: [
            {
              title: "漁業",
              link: "/"
            },
            {
              title: "水産業",
              link: "/"
            },
            {
              title: "宿泊業",
              link: "/"
            },
            {
              title: "商店街",
              link: "/"
            },
            {
              title: "飲食店",
              link: "/"
            },
            {
              title: "林業",
              link: "/"
            },
          ]
        },
        {
          label: "入札",
          pages: [
            {
              title: "漁業",
              link: "/"
            },
            {
              title: "水産業",
              link: "/"
            },
            {
              title: "宿泊業",
              link: "/"
            },
            {
              title: "商店街",
              link: "/"
            },
            {
              title: "飲食店",
              link: "/"
            },
            {
              title: "林業",
              link: "/"
            },
          ]
        },
        {
          label: "金銭的支援",
          pages: [
            {
              title: "漁業",
              link: "/"
            },
            {
              title: "水産業",
              link: "/"
            },
            {
              title: "宿泊業",
              link: "/"
            },
            {
              title: "商店街",
              link: "/"
            },
            {
              title: "飲食店",
              link: "/"
            },
            {
              title: "林業",
              link: "/"
            },
          ]
        },
        {
          label: "法・規制情報",
          pages: [
            {
              title: "漁業",
              link: "/"
            },
            {
              title: "水産業",
              link: "/"
            },
            {
              title: "宿泊業",
              link: "/"
            },
            {
              title: "商店街",
              link: "/"
            },
            {
              title: "飲食店",
              link: "/"
            },
            {
              title: "林業",
              link: "/"
            },
          ]
        },
        {
          label: "企業誘致",
          pages: [
            {
              title: "漁業",
              link: "/"
            },
            {
              title: "水産業",
              link: "/"
            },
            {
              title: "宿泊業",
              link: "/"
            },
            {
              title: "商店街",
              link: "/"
            },
            {
              title: "飲食店",
              link: "/"
            },
            {
              title: "林業",
              link: "/"
            },
          ]
        },
        {
          label: "相談サポート",
          pages: [
            {
              title: "漁業",
              link: "/"
            },
            {
              title: "水産業",
              link: "/"
            },
            {
              title: "宿泊業",
              link: "/"
            },
            {
              title: "商店街",
              link: "/"
            },
            {
              title: "飲食店",
              link: "/"
            },
            {
              title: "林業",
              link: "/"
            },
          ]
        },
        {
          label: "振興・募集",
          pages: [
            {
              title: "漁業",
              link: "/"
            },
            {
              title: "水産業",
              link: "/"
            },
            {
              title: "宿泊業",
              link: "/"
            },
            {
              title: "商店街",
              link: "/"
            },
            {
              title: "飲食店",
              link: "/"
            },
            {
              title: "林業",
              link: "/"
            },
          ]
        },
        {
          label: "勤労者支援",
          pages: [
            {
              title: "漁業",
              link: "/"
            },
            {
              title: "水産業",
              link: "/"
            },
            {
              title: "宿泊業",
              link: "/"
            },
            {
              title: "商店街",
              link: "/"
            },
            {
              title: "飲食店",
              link: "/"
            },
            {
              title: "林業",
              link: "/"
            },
          ]
        },
        {
          label: "セミナー",
          pages: [
            {
              title: "漁業",
              link: "/"
            },
            {
              title: "水産業",
              link: "/"
            },
            {
              title: "宿泊業",
              link: "/"
            },
            {
              title: "商店街",
              link: "/"
            },
            {
              title: "飲食店",
              link: "/"
            },
            {
              title: "林業",
              link: "/"
            },
          ]
        },
        {
          label: "施設",
          pages: [
            {
              title: "漁業",
              link: "/"
            },
            {
              title: "水産業",
              link: "/"
            },
            {
              title: "宿泊業",
              link: "/"
            },
            {
              title: "商店街",
              link: "/"
            },
            {
              title: "飲食店",
              link: "/"
            },
            {
              title: "林業",
              link: "/"
            },
          ]
        },
      ]
    }

include ../base/Banner.pug
include ../base/Breadcrumb.pug

block content
  include ../parts/_global-navi.pug
  +Breadcrumb({items: breadcrumbItem})

  +Banner({
    title: "サイトマップ",
  })

  section.section-content__body
    .site-map
      .site-map__content
        a.site-map__link(href="/") 
          h3.site-map__home 
            | ホーム
        .site-map__menu
          h3.site-map__title
            = citizenMap.title
          ul.site-map-categories
            each category in citizenMap.page
              li.site-map-categories__item
                h4.site-map-categories__title 
                  = category.label
                ul.site-map-pages
                  each page in category.pages 
                    li.site-map-pages__item
                      a.site-map__link(href=page.link)
                        p.site-map-pages__title
                          = page.title 
        .site-map__menu 
          h3.site-map__title
            = businessMap.title
            ul.site-map-categories
              each category in businessMap.page
                li.site-map-categories__item
                  h4.site-map-categories__title 
                    = category.label
                  ul.site-map-pages
                    each page in category.pages 
                      li.site-map-pages__item
                        a.site-map__link(href=page.link)
                          p.site-map-pages__title
                            = page.title
      .site-map__content
        .site-map__menu
          h3.site-map__title
            = citizenMap.title
          ul.site-map-categories
            each category in citizenMap.page
              li.site-map-categories__item
                h4.site-map-categories__title 
                  = category.label
                ul.site-map-pages
                  each page in category.pages 
                    li.site-map-pages__item
                      a.site-map__link(href=page.link)
                        p.site-map-pages__title
                          = page.title 
        .site-map__menu 
          h3.site-map__title
            = businessMap.title
          ul.site-map-categories
            each category in businessMap.page
              li.site-map-categories__item
                h4.site-map-categories__title 
                  = category.label
                ul.site-map-pages
                  each page in category.pages 
                    li.site-map-pages__item
                      a.site-map__link(href=page.link)
                        p.site-map-pages__title
                          = page.title

