mixin AnchorList(params={})
  - const props = Object.assign({}, params)
  .anchor-nav-pc
    h2.anchor-nav-pc__index 
      = props.title
    nav
      ul.anchor-nav-pc-list
        each item in props.items
          li.anchor-nav-pc-list__item
            a.anchor-nav-pc-list__link(href=item.link) 
              span.anchor-nav-pc-list__label
                = item.label
  .anchor-nav-sp
    include ./Accordion.pug
    +Accordion({title: "index", items:[{label: "目次"}]})
      nav
        ul.anchor-nav-sp-list
          each item in props.items
            li.anchor-nav-sp-list__item
              a.anchor-nav-sp-list__link(href=item.link) 
                span.anchor-nav-sp-list__label
                  = item.label