//-
  params: {
    title: string,
    description: string,
    help: {
      link: string,
      text: string
    },
    icon: string
  }
mixin Banner(params={})
  - const props = Object.assign({}, params)
  .banner
    h1.banner__title(aria-describedby="banner-desc")
      = props.title
    .banner__text
      if props.description
        p.banner__description#banner-desc
          = props.description
      if props.help
        a.banner-help(href=props.help.link)
          i(class="far fa-question-circle" aria-label=props.help.text)
    if props.icon
      img.banner__icon(src=props.basePath + props.icon alt="")
