mixin Banner(params={})
  - const props = Object.assign({}, params)
  .banner
    h1.banner__label(aria-describedby="banner-desc")
      = props.title
    if props.description
      p.banner__description#banner-desc
        = props.description
    img.banner__icon(src="../../images/common/" + props.icon alt="")