mixin Breadcrumb(params={})
  - const props = Object.assign({}, params)
  nav(aria-label="Breadcrumb" class="breadcrumb layout-default")
    ol
      each item in props.items
        li
          if item.link
            a(href=item.link class="breadcrumb-link")
              span.breadcrumb-link-text
                = item.text
          else
            span.breadcrumb-link-text.is-current
              = item.text

