//-
  params: {
    link: string,
    title: string,
    description: string,
    icon?: string
  }
mixin Card(params={})
  - const props = Object.assign({}, params)
  .card
    a(href=props.link class="card__link") 
      .card-img
        .card-img__container
          img(src="../../images/common/pregnant_child_icon.png" alt="" class="card-img__img")
      .card-text 
        h3.card-text__title
          = props.title
        p.card-text__description 
          = props.description
        p.card-text__more
          | もっと見る