mixin LinkMenu(params={})
  - const props = Object.assign({}, params)
    .link-menu
      a(href=props.link class="link-menu__link")
        if props.icon
          img(
            src=props.basePath + props.icon
            alt=""
            class="link-menu__icon"
          )
        .link-menu-link__text
          span
            = props.text
          i(class="fas fa-chevron-circle-right")