include ./LinkChip.pug

mixin LinkChipList(params={})
  - const props = Object.assign({}, params)
  .link-chip-list
    h3.link-chip-list__title 
      = props.title
    ul.link-chip-list__list
      each item in props.list
        li.link-chip-list__item 
          +LinkChip({
            link: item.link,
            label: item.label,
          })