//-
  params: {
    items: [
      {
        link: string,
        label: string
      }
    ]
  }
mixin Navigation(params={})
  - const props = Object.assign({}, params)
  nav.nav
    ul.nav-list 
      each item in props.items
        li.nav-list__item
          a.nav-list__link(href=item.link)
            p.nav-list__label 
              = item.label
