//-
  params: {
    title: string,
    categories: [
      {
        label: string
      }
    ],
    link: string,
    text: string,
    summary: string,
    application: string,
    isNew: boolean
  }
mixin SearchResult(params={})
  - const props = Object.assign({}, params)
  - const className= props.isNew ? "search-result__title--new" : ""
  a.search-result__link(href=props.link)
    h2(class="search-result__title " + className)
      = props.title
  p.search-result__text
    = props.text
