mixin TabPanel(params={})
  - const props = Object.assign(params)
  each item in props.items
    div(
      tabindex="0"
      role="tabpanel"
      id=item.panelId
      aria-labelledby=item.tabId
    )
      block
