mixin ViewedLink(params={})
  - const props = Object.assign({}, params)
  .viewed-link
    a.viewed-link__link(href=props.link) 
      img.viewed-link__img(src=props.basePath + props.img, alt=props.alt)
      .viewed-link__label
        h3.viewed-link__heading 
          = props.heading 
        p.viewed-link__text
          = props.text
        p.viewed-link__more 
          | もっと見る
