extends common/_layout

block content
  section.section-content
    include ../components/parts/_search-life-scene.pug

  section.section-content.bg-light
    include ../components/parts/_citizen-menu-2.pug

  section.section-content
    include ../components/parts/_top-menu-2.pug
