extends common/_layout

block pageOption
	- pageClass.push('page-index')
	- contentClass.push('index-container')
	- 
		const accordionItems = [
			{
				label: "県知事の部屋",
				content: "県知事の部屋はこちらです。県知事の部屋はこちらです。県知事の部屋はこちらです。県知事の部屋はこちらです。県知事の部屋はこちらです。県知事の部屋はこちらです。県知事の部屋はこちらです。県知事の部屋はこちらです。県知事の部屋はこちらです。県知事の部屋はこちらです。県知事の部屋はこちらです。県知事の部屋はこちらです。県知事の部屋はこちらです。県知事の部屋はこちらです。県知事の部屋はこちらです。県知事の部屋はこちらです。"
			},
			{
				label: "label2",
				content: "bbbbbb"
			},
		]

block content
	section.section-content.section-content-hero
		img(src="../images/top/daikoku_top.png" alt="" class="hero-img")
		img(src="../images/top/daikoku_top_label.png" alt="" class="label-img")


	section.section-content
		include ../components/parts/_life-menu.pug
		//- include ../components/base/Accordion.pug
		//- +Accordion({title: "government", items: accordionItems })

	section.section-content.section-content-new-info
		include ../components/parts/_new-info.pug

	section.section-content
		include ../components/parts/_business-menu.pug
