extends common/_layout

block pageOption
	- pageClass.push('page-index')
	- contentClass.push('index-container')
	- const basePath = "../images/top/"
	-
		const accordionItems = [
			{
				label: "aaa",
				content: "aaa"
			},
			{
				label: "bbb",
				content: "bbb"
			},
		]

block content
	section.section-content__hero
		img(src="../images/top/daikoku_top.png" alt="" class="hero-img")
		img(src="../images/top/daikoku_top_label.png" alt="" class="label-img")

	section.section-content 
		include ./parts/_top-menu.pug

	section.section-content.bg-light
		.section-content__top
			h2.section-content__title 
				| 見出しが入ります
			.section-content__container
				.section-content__floor-map 
					| フロアマップ
				.section-content__contact
					| 組織図・連絡先

