extends common/_layout

block pageOption
	- pageClass.push('page-index')
	- contentClass.push('index-container')

block content
	section.section-content__hero
		img(src="../images/top/top_hero_1.png" alt="" class="hero-img")
		img(src="../images/top/top_hero_1_logo.png" alt="" class="label-img")

	section.section-content 
		include ./parts/_top-menu.pug

	section.section-content.bg-light
		include ./parts/_top-menu-2.pug

