.accordion {
	width: 400px;
	max-width: 1024px;
	margin: 0 auto;

	&__header {
		background-color: #fff;
		color: #3b4043;
		font-weight: bold;
		&:hover {
			opacity: 0.8;
		}
	}

	&__trigger {
		position: relative;
		padding: 16px;
		width: 100%;
		border: 1px solid #cdd6dd;
		&:focus:not(:focus-visible) {
			outline: none;
		}
		&:focus-visible {
			outline: 2px solid #0000ff;
		}
		&[aria-expanded="true"] {
			.accordion__header-label-icon {
				transform: rotate(180deg);
			}
		}
	}

	&__header-label-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__panel {
		height: auto;
		border: 1px solid #ccc;
		border-top: none;
		padding: 15px;
		&[aria-hidden="true"] {
			visibility: hidden;
			line-height: 0;
			opacity: 0;
			padding: 0;
			border: none;
		}
		&[aria-hidden="false"] {
			.accordion__panel-text {
				transition: 0.3s;
			}
		}
	}

	&__panel-text {
		overflow-wrap: break-word;
	}
}
