.banner {
	@extend .box-shadow;
	background-color: #fff;
	border-radius: 8px;
	margin-top: 40px;
	position: relative;
	padding: 48px 0;

	&__title {
		text-align: center;
		font-size: 36px;
		font-weight: bold;
	}
	&__description {
		text-align: center;
		color: #707070;
		white-space: pre-wrap;
		margin-top: 16px;
	}
	&__icon {
		width: auto;
		height: 160px;
		position: absolute;
		bottom: 0;
		right: 40px;
	}
	&__text {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.banner-help {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4px;
		color: colors(primary);
		&:hover {
			text-decoration: underline;
			opacity: 0.8;
		}
	}
}

@media (max-width: breakpoint(sp)) {
	.banner {
		padding: 24px 0 60px 0;
		&__title {
			font-size: 30px;
		}
		&__icon {
			width: auto;
			height: 68px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
		&__text {
			margin-bottom: 16px;
		}
		&__description {
			white-space: initial;
		}
	}
}
