* {
	box-sizing: border-box;
}
body {
	background-color: #f1f6fa;
	color: #3b4040;
	line-height: 1.6;
	vertical-align: baseline;
	font-family: "YuGothic", "Noto Sans JP", sans-serif;
	font-size: 16px;
}
.section-content {
	padding-bottom: 80px;
}
.layout-default {
	max-width: map-get($global-width, max-width);
	padding-left: 48px;
	padding-right: 48px;
	margin-left: auto;
	margin-right: auto;
}
.box-shadow {
	box-shadow: 0px 4px 8px rgba($color: #000000, $alpha: 0.16);
}
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}
.section-title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding-top: 56px;
}
.is-pc {
	display: block;
}
.is-sp {
	display: none;
}

@media only screen and (max-width: map-get($global-width, break-point-sp)) {
	.is-pc {
		display: none;
	}
	.is-sp {
		display: block;
	}
	.layout-default {
		max-width: 100%;
		padding-left: 16px;
		padding-right: 16px;
	}
}
