.btn {
	@extend .box-shadow;
	padding: 8px 48px;
	border-radius: 50px;
	font-weight: bold;
	&:hover {
		opacity: 0.8;
	}
	&:disabled {
	}
	&--primary {
		@extend .btn;
		background-color: colors(primary);
		color: #fff;
	}
	&--secondary {
		@extend .btn;
		background-color: #fff;
		color: colors(primary);
		border: 1px solid colors(primary);
	}
}
