.input {
	&__label {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 16px;
	}
}
.input-form {
	position: relative;
	height: 50px;
	&__input {
		width: 100%;
		border: 1px solid #cdd6dd;
		border-radius: 8px;
		position: absolute;
		height: 100%;
		padding-left: 16px;
		overflow: hidden;
	}
	&__btn {
		position: absolute;
		right: 0;
		background-color: colors(primary);
		color: #fff;
		padding: 10px 16px;
		border-radius: 0 8px 8px 0;
	}
}
