.link-chip {
	display: block;
	border: 1px solid colors(primary);
	border-radius: 50px;
	padding: 0 16px;
	width: fit-content;
}

@media (max-width: breakpoint(sp)) {
	.link-chip {
		font-size: 12px;
	}
}
