.link-menu-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: 8px;
	&::before {
		content: "";
		display: block;
		width: 23%;
		order: 1;
	}
	&::after {
		content: "";
		display: block;
		width: 25%;
	}
}
.link-menu-item {
	@extend .box-shadow;
	padding: 16px 0;
	background-color: #fff;
	flex-basis: calc(25% - 8px);
	border-radius: 8px;
	&:hover {
		opacity: 0.8;
	}
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		vertical-align: middle;
		justify-content: center;
	}
	&__icon {
		width: 120px;
		height: auto;
	}
	&__text-container {
		display: flex;
		align-items: baseline;
		margin-top: 8px;
	}
	&__text {
		font-weight: bold;
		font-size: 20px;
		margin-right: 8px;
	}
}
