.link-menu-list {
	margin-top: 56px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	gap: 8px;
}
.link-menu-item {
	padding: 16px 0;
	background-color: #fff;
	flex-basis: calc(25% - 8px);
	border-radius: 8px;
	&:hover {
		opacity: 0.8;
	}
	&:last-child {
		flex-basis: 100%;
		.menu-text-container {
			margin-top: 0;
		}
	}
}
.link-menu-item__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
	.link-menu-item-icon {
		width: 120px;
		height: auto;
	}
	.link-menu-item-text__container {
		display: flex;
		align-items: baseline;
		margin-top: 8px;
	}
	.link-menu-item-text {
		font-weight: bold;
		font-size: 20px;
		margin-right: 8px;
	}
}
