.link-chip-list {
	&__title {
		color: #636b81;
		margin-bottom: 16px;
	}
	&__list {
		display: flex;
		gap: 8px;
		align-items: center;
		flex-wrap: wrap;
	}
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
