.pagination {
	display: flex;
	align-items: baseline;
	justify-content: center;
	margin: 24px 0;
	&__counter {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
	}
	&__btn {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__icon {
		color: colors(primary);
	}
	&__number {
		color: #98a6b5;
		padding: 8px 16px;
		border-radius: 8px;

		&:hover {
			opacity: 0.8;
			cursor: pointer;
		}
		&.current {
			background-color: colors(primary);
			color: #fff;
			cursor: initial;
		}
	}
	&__text {
		font-weight: bold;
		margin-top: 8px;
	}

	.prev,
	.next {
		padding: 16px 20px;
		border-radius: 10px;
		background-color: #fafafa;
		border: 1px solid #f0f3f5;
		margin: 0 24px;

		&:disabled {
			.pagination__icon {
				color: #707070;
			}
		}
	}
}
