$radio-size: 24px;
$radio-bg: #fff;
$radio-border-color: #ccc;

.radio {
	display: block;
	padding: 16px 4px 16px 44px;
	border-radius: 6px;

	&__input {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		width: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;

		&:checked + .radio__label::before {
			color: $radio-bg;
			border-color: colors(primary);
			background-color: $radio-bg;
		}
		&:focus:not(:focus-visible) + .radio__label::before {
			outline: none;
		}
		&:focus-visible + .radio__label::before {
			outline: 2px solid #0000ff;
		}
		&:checked + .radio__label::after {
			transform: translateY(-50%) scale(1);
		}
	}
	&__label {
		position: relative;
		margin-bottom: 0;
		vertical-align: middle;
		padding-left: 4px;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: -($radio-size + 6px);
			display: block;
			width: $radio-size;
			height: $radio-size;
			box-sizing: border-box;
			transform: translateY(-50%);
			pointer-events: none;
			background-color: $radio-bg;
			border: 1px solid $radio-border-color;
			border-radius: 50px;
			transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1),
				border-color 0.3s cubic-bezier(0.19, 1, 0.22, 1),
				box-shadow 0.3s cubic-bezier(0.19, 1, 0.22, 1);
		}
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: -($radio-size + 6px);
			display: block;
			width: $radio-size;
			height: $radio-size;
			box-sizing: border-box;
			transform: translateY(-50%) scale(0);
			background-repeat: no-repeat;
			background-size: 50% 50%;
			background-position: center center;
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23008660'/%3e%3c/svg%3e");
			transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1),
				transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
		}
	}
}
@media (max-width: breakpoint(sp)) {
	.radio {
		&__label {
			white-space: pre-wrap;
		}
	}
}
