.search-link {
	background-color: #fff;
	padding: 16px;
	flex-basis: 100%;
	border-radius: 8px;
	margin-top: 0;
	&:hover {
		opacity: 0.8;
	}
}
.search-link-text__container {
	display: flex;
	align-items: baseline;
	justify-content: center;
}
.search-link-text {
	font-weight: bold;
	font-size: 20px;
	margin-right: 8px;
}
