.search-result {
	margin-top: 24px;
	&__title {
		font-size: 24px;
		font-weight: bold;
		color: colors(primary);
		&:hover {
			opacity: 0.8;
		}
	}
	&__item:not(:first-child) {
		margin-top: 32px;
	}
	&__item:not(:last-child) {
		border-bottom: 1px solid #cdd6dd;
	}
	&__link {
		text-decoration: underline;
		text-decoration-color: colors(primary);
		&:hover {
			cursor: pointer;
		}
	}
}
.search-result-summary {
	margin: 24px 48px;
	&__title {
		font-size: 18px;
		font-weight: bold;
		color: colors(primary);
	}
	&__text {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}
}
.search-result-application {
	margin: 24px 48px;
	&__title {
		font-size: 18px;
		font-weight: bold;
		color: colors(primary);
	}
}
.category-list {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin: 16px 0;
}
.category-list-item {
	border: 1px solid #c5c8d1;
	border-radius: 50px;
	padding: 4px 16px;
}

@media only screen and (max-width: breakpoint(sp)) {
	.search-result-summary,
	.search-result-application {
		margin: 24px 0 24px 16px;
	}
}
