.search-result {
	margin-top: 24px;
	&__title {
		font-size: 24px;
		font-weight: bold;
		color: colors(primary);
		&--new {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				width: 8px;
				height: 8px;
				background-color: #dd1500;
				border-radius: 50px;
				top: 0;
			}
		}
		&:hover {
			opacity: 0.8;
		}
	}
	&__item:not(:first-child) {
		margin-top: 32px;
	}
	&__item:not(:last-child) {
		border-bottom: 1px solid #cdd6dd;
	}
	&__link {
		text-decoration: underline;
		text-decoration-color: colors(primary);
		&:hover {
			cursor: pointer;
		}
	}
	&__text {
		margin: 16px 0 32px 0;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
}
