$breakpoint: (
	pc: 1100px,
	sp: 960px,
	iPhoneX: 375px,
	iPhone5: 350px,
);
@function breakpoint($key) {
	@return map-get($breakpoint, $key);
}

$spacing: (
	XS: 4px,
	S: 8px,
	M: 16px,
	L: 24px,
	XL: 32px,
	XXL: 48px,
	XXXL: 56px,
	XXXXL: 64px,
);
@function spacing($key) {
	@return map-get($spacing, $key);
}

$color: (
	primary: #008660,
	text-primary: #3b4043,
	text-secondary: #707f89,
	icon: #98a6b5,
	line: #cdd6dd,
	page: #f0f3f5,
	link: #0e67e1,
);
@function colors($key) {
	@return map-get($color, $key);
}

$z-index: (
	layer-5: 5000,
	layer-4: 4000,
	layer-3: 3000,
	layer-2: 2000,
	layer-1: 1000,
	default: 0,
);
@function z-index($key) {
	@return map-get($z-index, $key);
}
