.viewed-link {
	width: 100%;
	&:hover {
		opacity: 0.8;
		.viewed-link__text,
		.viewed-link__more {
			text-decoration: underline;
		}
	}
	&__link {
		display: flex;
		align-items: center;
		gap: 16px;
	}
	&__img {
		flex-basis: 20%;
		height: 180px;
		width: auto;
	}
	&__label {
		flex-basis: 80%;
	}
	&__text {
		font-size: 24px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
	}
	&__more {
		text-align: right;
		margin-top: 16px;
	}
}

@media (max-width: breakpoint(sp)) {
	.viewed-link {
		&__img {
			height: 120px;
		}
		&__link {
			gap: 8px;
		}
		&__text {
			font-size: 16px;
		}
		&__more {
			font-size: 12px;
			margin-top: 8px;
		}
	}
}
