$color-primary: #008660;
$color-text-primary: #3b4043;
$color-text-secondary: #707f89;
$color-icon: #98a6b5;
$color-line: #cdd6dd;
$color-page: #f0f3f5;
$color-white: #ffffff;

.color-container-wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.color-container {
	display: flex;
	align-items: center;
	gap: 16px;
}
.color-panel {
	width: 32px;
	height: 32px;
	border-radius: 4px;
}
.color-heading {
	font-weight: bold;
	color: $color-text-primary;
	margin-bottom: 8px;
}
.color-primary {
	background-color: $color-primary;
}
.color-text-primary {
	background-color: $color-text-primary;
}
.color-text-secondary {
	background-color: $color-text-secondary;
}
.color-icon {
	background-color: $color-icon;
}
.color-line {
	background-color: $color-line;
}
.color-page {
	background-color: $color-page;
}
.color-txt {
	margin-bottom: 0;
	font-size: 12px;
	color: $color-text-secondary;
}
