-
  const links = [
    {
      link : "#",
      text : "Link",
    },
    {
      link : "#",
      text : "Link",
    },
    {
      link : "#",
      text : "Link",
    },
  ]

  const profile = {
    title: "Test A",
    number: "123456789",
    address: "Japan",
    tel: "000-0000-0000",
    hour: "Monday"
  }

-
footer.footer
  .footer__container
    .footer-profile
      .footer-profile__container
        .footer-profile__title 
          h3
            = profile.title
            span.footer-profile__number
              = `（No.${profile.number}）`
        .footer-profile__address 
          p
            = profile.address 
        .footer-profile__tel
          span tel：
          a(href=`tel:${profile.tel}`)
            = profile.tel 
        .footer-profile__hour 
          p
            = profile.hour
    .copy-right
      | &copy; 2021-2022 Test A