include ../base/Search.pug

header.header
  .header__wrapper
    .header__content
      .header__icon
        a(href="/")
          img(src="../../images/common/daikoku-icon.png" alt="大黒市" class="logo")
      .header__search 
        +Search()
      .header__menu
        .menu
          span.menu__icon
      include ./_accessibility.pug







