-
  const globalNavi = [
    {
      label: "市民の方",
      link: "/",
    },
    {
      label: "事業者の方",
      link: "/",
    },
    {
      label: "観光・移住",
      link: "/",
    },
    {
      label: "市政について",
      link: "/",
    },
  ]
  const font = [
    {
      meta: "regular",
      name: "標準",
    },
    {
      meta: "large",
      name: "拡大",
    }
  ]
  const color = [
    {
      meta: "black",
      name: "黒",
    },
    {
      meta: "white",
      name: "白",
    },
    {
      meta: "yellow",
      name: "黄",
    },
  ]

include ../base/LinkButton.pug
include ./_accessibility.pug

header.header
  .header__wrapper
    .header__content
      .header__icon
        a(href="/")
          img(src="../../images/common/daikoku-icon.png" alt="大黒市" class="logo")
      .header__nav--pc
        +Accessibility({font: font, color: color})
        .header__search
          +LinkButton({icon: "fas fa-search", label: "検索"})
      .header__nav--sp
        .header__search
          +LinkButton({icon: "fas fa-search", label: "検索"})
        .header__menu
          button.menu(type="button" aria-haspopup="true" aria-contriols="sp-menu" aria-expanded="false")
            .icon-wrapper.open
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" role="img" aria-labelledby="menu">
                <title id="menu">メニュー</title>
                  <rect y="2" width="34" height="4" rx="3" ry="3" fill="white" />
                  <rect y="15" width="34" height="4" rx="3" ry="3" fill="white" />
                  <rect y="28" width="24" height="4" rx="3" ry="3" fill="white" />
              </svg>
            .icon-wrapper.close
              i(class="fas fa-times")
            p.menu__text メニュー
    .header__navi#sp-menu(aria-hidden="true")
      +Accessibility({font: font, color: color})
      .header__global-navi 
        nav.global-navi
          ul.global-navi__list
            each item in globalNavi
              li.global-navi__item
                a.global-navi__link(href=item.link) 
                  p.global-navi__label
                    = item.label
                  i(class="fas fa-angle-right")
