header.header.x-header
  .header-wrapper.box-shadow
    .content-top.layout-default
      .icon-wrapper
        a(href="/")
          img(src="../../images/common/daikoku-icon.png" alt="大黒市" class="logo")
      include ./_accessibility.pug







