-
  const globalNavi = [
    {
      label: "市民の方",
      link: "/",
    },
    {
      label: "事業者の方",
      link: "/",
    },
    {
      label: "観光・移住",
      link: "/",
    },
    {
      label: "市政について",
      link: "/",
    },
  ]
  const font = [
    {
      meta: "regular",
      name: "標準",
    },
    {
      meta: "large",
      name: "拡大",
    }
  ]
  const color = [
    {
      meta: "black",
      name: "黒",
      checked: true,
    },
    {
      meta: "white",
      name: "白",
      checked: false,
    },
    {
      meta: "yellow",
      name: "黄",
      checked: false,
    },
  ]

include ../base/LinkButton.pug

header.header
  .header__wrapper
    .header__content
      .header__icon
        a(href="/")
          | Test A
      .header__search
        a.header-link(href="#")
          i(class="fas fa-search search-icon")
          p.header-link__text 
            | Search