-
  const alerts = {
    heavyRain: "大雨特別警報",
  }

  const alertLinkItems = [
    {
      text: "気象情報",
      icon: "weather.png",
      link: "#"
    },
    {
      text: "避難状況",
      icon: "evacuation.png",
      link: "#"
    },
    {
      text: "防災アプリ ダウンロード",
      icon: "phone.png",
      link: "#"
    },
  ]

include ../base/LinkMenu.pug

.section-content__alert(aria-hidden="true" id="alert-section")
  .alert 
    .alert-title 
      i(class="fas fa-exclamation-triangle alert-title__icon")
      h2.alert-title__text 
        = `${alerts.heavyRain}発令中`
    p.alert-note 
      | 最新の情報を確認し、<br class="sp-only-br"/>十分に警戒してください。
    .alert-links 
      ul.alert-links-list
        each item in alertLinkItems
          li.alert-links-list__item 
            +LinkMenu({basePath: basePath, link: item.link, icon: item.icon, text: item.text})

