-
  const citizenMenuItems = [
    {
      text: "戸籍・住民票・印鑑登録",
      link: "#"
    },
    {
      text: "税",
      link: "#"
    },
    {
      text: "国民健康保険",
      link: "#"
    },
    {
      text: "国民年金",
      link: "#"
    },
    {
      text: "水道・ガス・電気",
      link: "#"
    },
    {
      text: "交通",
      link: "#"
    },
    {
      text: "駐輪・駐車",
      link: "#"
    },
    {
      text: "都市計画",
      link: "#"
    },
    {
      text: "ゴミ・環境保全",
      link: "#"
    },
    {
      text: "ペット・動物",
      link: "#"
    },
    {
      text: "専門相談・消費相談",
      link: "#"
    },
    {
      text: "健康・福祉・医療",
      link: "#"
    },
    {
      text: "文化・スポーツ・生涯学習",
      link: "#"
    },
    {
      text: "市民活動",
      link: "#"
    },
    {
      text: "防災",
      link: "#"
    },
    {
      text: "防犯",
      link: "#"
    },
    {
      text: "安全・安心",
      link: "#"
    },
    {
      text: "救急・消防",
      link: "#"
    },
  ]

include ../../components/base/LinkMenu.pug

.section-content__menu
  h2.section-content__title
    | UMメニュー
  ul.citizen-menu-list
    each item in citizenMenuItems
      li.citizen-menu-list__item
        +LinkMenu({basePath: basePath, icon: item.icon, text: item.text})