-
  const cardList = [
    {
      imgPath: "",
      title: "仮設住宅の設置状況",
      description: "説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります",
      link: "pregnant_child_icon.png"
    },
    {
      imgPath: "pregnant_child_icon.png",
      title: "仮設住宅の設置状況",
      description: "説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります",
      link: "#"
    },
    {
      imgPath: "pregnant_child_icon.png",
      title: "仮設住宅の設置状況",
      description: "説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります説明が入ります",
      link: "#"
    },
  ]


include ../base/Card.pug

.section-content__feature
  h2.section-content__title 
    | 特集
  ul.card-list 
    each item in cardList 
      - const modifier = cardList.length === 1 ? "--single" : ""
      li(class="card-list__item" + modifier)
        +Card({
          basePath: "../../../images/common/",
          imgPath: item.imgPath,
          title: item.title,
          description: item.description,
          link: item.link,
        })