-
  const navList = [
    {
      link: "/citizen.html",
      label: "市民の方"
    },
    {
      link: "/",
      label: "事業者の方"
    },
    {
      link: "/",
      label: "観光・移住"
    },
    {
      link: "/",
      label: "市政について"
    },

  ]

include ../base/Navigation.pug

+Navigation({items: navList})