.section-content__hero
  img(src="../../images/top/top_hero_1.png" alt="" class="hero-img")
  img(src="../../images/top/top_hero_1_logo.png" alt="" class="logo-img")
  img(src="../../images/top/top_label_pc.png" alt="" class="label-img-pc")
  img(src="../../images/top/top_label_sp.png" alt="" class="label-img-sp")