-
  const lifeMenuItems = [
    {
      text: "Menu",
      link: "#"
    },
    {
      text: "Menu",
      link: "#"
    },
    {
      text: "Menu",
      link: "#"
    },
    {
      text: "Menu",
      link: "#"
    },
    {
      text: "Menu",
      link: "#"
    },
    {
      text: "Menu",
      link: "#"
    },
    {
      text: "Menu",
      link: "#"
    },
    {
      text: "Menu",
      link: "#"
    },
  ]

include ../../components/base/LinkMenu.pug

.section-content__life-scene
  h2.section-content__title
    | Menu
  ul.life-scene-menu-list
    each item in lifeMenuItems
      li.life-scene-menu-list__item
        +LinkMenu({basePath: basePath, link: item.link, icon: item.icon, text: item.text})
