-
  const lifeMenuItems = [
    {
      icon: "life_menu_icon_1.png",
      text: "妊娠・子育て",
      link: "../citizen2.html"
    },
    {
      icon: "life_menu_icon_2.png",
      text: "入園・入学",
      link: "#"
    },
    {
      icon: "life_menu_icon_3.png",
      text: "就職・退職",
      link: "#"
    },
    {
      icon: "life_menu_icon_4.png",
      text: "結婚・離婚",
      link: "#"
    },
    {
      icon: "life_menu_icon_5.png",
      text: "高齢・介護",
      link: "#"
    },
    {
      icon: "life_menu_icon_6.png",
      text: "引越し",
      link: "#"
    },
    {
      icon: "life_menu_icon_7.png",
      text: "病気・けが",
      link: "#"
    },
    {
      icon: "life_menu_icon_8.png",
      text: "お悔やみ",
      link: "#"
    },
  ]

include ../../components/base/LinkMenu.pug
include ../../components/base/SearchLink.pug

.section-content__life-scene
  h2.section-content__title
    | ライフシーン
  ul.life-scene-menu-list
    each item in lifeMenuItems
      li.life-scene-menu-list__item
        +LinkMenu({basePath: basePath, icon: item.icon, text: item.text})
  +SearchLink({link: "../search.html"})
