.section-content__carousel
  img(src="../images/top/top_hero_event_1.png" alt="7/20 大黒市にリニアが開通しました！" class="carousel-img")
  img(src="../images/top/top_hero_event_1.png" alt="7/20 大黒市にリニアが開通しました！" class="carousel-img")