.section-content__carousel
  .slide 
    picture
      source(media="(max-width:960px)" srcset="../../images/top/top_hero_event_sp.jpg")
      img(src="../../images/top/top_hero_event_1.png" alt="7/20 大黒市にリニアが開通しました！" class="slider-img")

  .slide 
    picture
      source(media="(max-width:960px)" srcset="../../images/top/top_hero_event_sp.jpg")
      img(src="../../images/top/top_hero_event_1.png" alt="7/20 大黒市にリニアが開通しました！" class="slider-img")