-
  const items = [
    {
      text: "Content",
      link: "#"
    },
    {
      text: "Content",
      link: "#"
    },
    {
      text: "Content",
      link: "#"
    },
    {
      text: "Content",
      link: "#"
    },
  ]

include ../base/LinkMenu.pug	

.section-content__top
  h2.section-content__title 
    | Menu
  ul.visitor-menu-list
    each item in items
      li.visitor-menu-list__item
        +LinkMenu({
          basePath: basePath,
          icon: item.icon,
          text: item.text,
          link: item.link
        })