-
  const menuListItems = [
    {
      text: "Next page",
      link: "./citizen.html"
    },
    {
      text: "No page",
      link: "./citizen.html"
    },
    {
      text: "No page",
      link: "./citizen.html"
    },
    {
      text: "No page",
      link: "./citizen.html"
    },
  ]

include ../base/LinkMenu.pug	

.section-content__top
  h2.section-content__title 
    | Welcome to Pattern A!
  ul.link-menu-list
    each item in menuListItems
      li.link-menu-list__item
        +LinkMenu({basePath: basePath, link: item.link, icon: item.icon, text: item.text})