-
  const menuListItems = [
    {
      text: "市民の方",
      icon: "citizen_menu_icon.png",
      link: "./citizen.html"
    },
    {
      text: "事業者の方",
      icon: "business_menu_icon.png",
      link: "#"
    },
    {
      text: "観光・移住",
      icon: "visitor_menu_icon.png",
      link: "#"
    },
    {
      text: "市政",
      icon: "government_menu_icon.png",
      link: "#"
    },
  ]

include ../base/LinkMenu.pug	
include ../base/SearchLink.pug	

.section-content__top
  ul.link-menu-list
    each item in menuListItems
      li.link-menu-list__item
        +LinkMenu({basePath: basePath, link: item.link, icon: item.icon, text: item.text})
  +SearchLink({link : "../search.html"})