-
  const items = [
    {
      text: "アクセス・開庁時間",
      icon: "access_menu_icon.png",
      link: "#"
    },
    {
      text: "市役所フロアガイド",
      icon: "floor_menu_icon.png",
      link: "#"
    },
    {
      text: "組織図・問い合わせ先",
      icon: "organization_menu_icon.png",
      link: "./organization.html"
    },
    {
      text: "HPよくあるご質問",
      icon: "question_menu_icon.png",
      link: "./faq.html"
    },
  ]

include ../base/LinkMenu.pug	

.section-content__top
  h2.section-content__title 
    | 大黒市役所へご用の方へ
  ul.visitor-menu-list
    each item in items
      li.visitor-menu-list__item
        +LinkMenu({
          basePath: basePath,
          icon: item.icon,
          text: item.text,
          link: item.link
        })