-
  const menuListItems = [
    {
      text: "市民の方",
      icon: "life_menu_icon_1.png",
      link: "./citizen.html"
    },
    {
      text: "事業者の方",
      icon: "life_menu_icon_2.png",
      link: "#"
    },
    {
      text: "観光・移住",
      icon: "life_menu_icon_3.png",
      link: "#"
    },
    {
      text: "市政",
      icon: "life_menu_icon_4.png",
      link: "#"
    },
  ]

include ../base/LinkMenu.pug	
include ../base/SearchLink.pug	

.section-content__top
  h2.section-content__title 
    | 見出しが入ります
  +LinkMenu({basePath : basePath, items: menuListItems})
  +SearchLink({link : "../search.html"})