.section-content__alert {
	@extend .layout-default;
	max-height: 0;
	padding: 0;
	transition: all 0.4s;

	&[aria-hidden="false"] {
		max-height: 800px;
		padding: 64px 0;
		transition: all 0.6s;
	}
}
.sp-only-br {
	display: none;
}

.alert {
	border: 8px solid #ff3372;
	border-radius: 16px;
	padding: 32px;
	background-color: #fff;
}

.alert-title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 8px;

	&__icon {
		color: #ff3372;
		margin-right: 8px;
	}
}

.alert-note {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.alert-links {
	margin-top: 24px;
}
.alert-links-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 8px;
	margin-bottom: 8px;
	&__item {
		flex-basis: calc(33% - 8px);
	}
	.link-menu {
		background-color: #fae338;
		&__icon {
			height: 40px;
			width: auto;
		}
	}
}

@media only screen and (max-width: breakpoint(sp)) {
	.alert {
		margin: 0 16px;
	}
	.alert-links-list {
		&__item {
			flex-basis: 100%;
		}
	}
	.alert-title {
		font-size: 24px;
	}
	.sp-only-br {
		display: inline-block;
	}
}
