.section-content__menu {
	@extend .layout-default;
}

.citizen-menu-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 8px;
	margin-bottom: 8px;
	&__item {
		flex-basis: calc(33% - 8px);
	}
}

@media only screen and (max-width: breakpoint(sp)) {
	.citizen-menu-list {
		&__item {
			flex-basis: 100%;
		}
	}
}
