.department-breadcrumb {
	margin: 0;
	padding-bottom: 16px;
	padding-left: 0;
	background-color: #fff;
	border-bottom: 1px solid #cdd6dd;
	position: sticky;
	z-index: 999;
	top: 0;
}
.department-breadcrumb-item {
	display: inline;
	&:not(:first-child)::before {
		display: inline-block;
		margin: 0 8px;
		transform: rotate(15deg);
		border-right: 0.1em solid currentColor;
		height: 0.8em;
		font-weight: bold;
		content: "";
	}
	&:last-child {
		.department-breadcrumb-item__text {
			font-size: 24px;
			margin-left: 16px;
		}
	}
}

.contacts {
	margin-top: 24px;
	.contacts-list {
		display: flex;
		flex-direction: column;
		gap: 56px;
	}
	.contacts-list-item {
		&__header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 24px;
		}
		&__title {
			font-size: 24px;
			font-weight: bold;
			position: relative;
			padding-left: 24px;
			&::before {
				content: "";
				width: 8px;
				height: 24px;
				background-color: colors(primary);
				position: absolute;
				top: 10px;
				left: 0;
			}
		}
		&__body {
			.contacts-list-item-table {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				border-top: 1px solid #cdd6dd;
				.table-layout {
					display: flex;
				}
				&__term {
					flex-basis: 20%;
					border-bottom: 1px solid #cdd6dd;
					padding: 16px 0;
				}
				&__description {
					flex-basis: 80%;
					padding: 16px 0;
					border-bottom: 1px solid #cdd6dd;
				}
			}
		}
	}
}
@media (max-width: breakpoint(sp)) {
	.department-breadcrumb-item {
		&:last-child {
			.department-breadcrumb-item__text {
				display: block;
				margin-left: 0px;
			}
		}
	}
	.contacts {
		.contacts-list-item {
			&__header {
				display: block;
			}
			&__title {
				margin-bottom: 16px;
			}
			&__body {
				.contacts-list-item-table {
					.table-layout {
						display: block;
					}
					&__term:first-child {
						border-bottom: none;
						padding-bottom: 0;
					}
					&__term {
						flex-basis: 40%;
					}
					&__description:not(.table-layout
							> .contacts-list-item-table__description) {
						text-align: right;
					}
					&__description {
						flex-basis: 60%;
					}
				}
			}
		}
	}
}
