.section-content__feature {
	@extend .layout-default;
	padding-bottom: 60px;

	.card-list {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;

		&__item {
			width: calc(100% / 3 - 16px);

			&--single {
				width: 100%;
				.card {
					&__link {
						display: flex;
						flex-direction: row;
						align-items: stretch;
					}
				}
				.card-img {
					width: 320px;
				}
				.card-text {
					flex: 1;
				}
			}
		}
	}
}

@media (max-width: breakpoint(sp)) {
	.section-content__feature {
		.card-list {
			&__item {
				width: 100%;
			}
		}
		.card-list {
			&__item {
				&--single {
					.card-img {
						width: 160px;
					}
					.card-text {
						flex: 1;
					}
				}
			}
		}
	}
}
