.search-help {
	@extend .layout-default;
	margin-bottom: 48px;
	&__title {
		display: flex;
		align-items: center;
		gap: 8px;
		color: colors(primary);
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	&__item {
		padding: 24px 0;
		&:first-child {
			border-bottom: 1px solid #cdd6dd;
		}
	}
}
.qa-help {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.qa-help-q {
	display: flex;
	align-items: center;
	&__img {
		width: 40px;
		height: 40px;
	}
	&__text {
		font-weight: bold;
	}
}
.qa-help-a {
	display: flex;
	gap: 8px;
	padding-left: 10px;
	&__label {
		font-weight: bold;
		font-size: 18px;
	}
	&__text {
		overflow-wrap: break-word;
		white-space: pre-wrap;
	}
}
