.status {
	@extend .layout-default;
	padding-top: 40px;

	&__title {
		font-size: 30px;
		font-weight: bold;
		padding-bottom: 40px;
		margin-bottom: 40px;
		position: relative;
		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 56px;
			height: 2px;
			background-color: #cdd6dd;
			margin-top: 40px;
		}
	}
}

.status-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 8px;

	&__item {
		border: 1px solid #e1e1e1;
		background-color: #fff;
		border-radius: 8px;
		width: calc(100% / 4 - 8px);
	}
}
@media only screen and (max-width: breakpoint(sp)) {
	.status-list {
		&__item {
			width: calc(50% - 4px);
		}
	}
}
