.footer {
	width: 100%;
	color: #3b4043;
	&__container {
		width: 100%;
		font-weight: bold;
	}
	.copy-right {
		background-color: #dbe6ed;
		text-align: center;
		padding-bottom: 24px;
	}
}
.footer-links {
	background-color: #dbe6ed;
	&__container {
		@extend .layout-default;
		padding: 24px 0;
	}
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}
.footer-profile {
	background-color: #dbe6ed;
	margin-top: 8px;
	&__container {
		@extend .layout-default;
		padding: 24px 0;
		& > * {
			margin-bottom: 8px;
		}
	}
}

@media (max-width: breakpoint(sp)) {
	.footer-links {
		&__container {
			padding: 24px 16px;
		}
		&__list {
			flex-direction: column;
			align-items: flex-start;
			gap: 8px;
		}
	}
	.footer-profile {
		&__container {
			padding: 24px 16px;
		}
	}
}
