.header {
	width: 100%;
	font-weight: bold;
	line-height: 1;

	&__wrapper {
		@extend .box-shadow;
		background-color: #fff;
		padding: 24px 20px;
	}
	&__content {
		@extend .layout-default;
		display: flex;
		align-items: center;
	}
	&__menus {
		display: flex;
		align-items: center;
	}
	&__search {
		margin-left: 16px;
	}
	&__icon {
		flex-grow: 1;

		.logo {
			margin-right: 20px;
			transition: 0.2s all ease-in-out;
			&:hover {
				opacity: 0.8;
			}
			width: 180px;
			height: auto;
		}
	}
	&__nav {
		&--pc {
			display: flex;
		}
	}
	&__nav {
		&--sp {
			display: none;
		}
	}
	&__navi {
		display: none;
	}
}

@media (max-width: breakpoint(sp)) {
	.header {
		width: 100%;
		max-width: 100%;
		min-width: auto;
		padding: 0;
		height: 68px;
		font-size: 18px;

		&__wrapper {
			border-radius: 0;
			padding: 0;
			height: 68px;
			position: fixed;
			z-index: z-index(layer-4);
			top: 0;
			width: 100%;
		}
		&__icon {
			.logo {
				margin-left: 16px;
				width: 120px;
			}
		}
		&__content {
			padding: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #fff;
			position: relative;
			z-index: z-index(layer-4) - 20;
		}
		&__nav {
			&--pc {
				display: none;
			}
		}
		&__nav {
			&--sp {
				display: flex;
			}
		}
		// &__navi {
		// 	display: block;
		// 	position: fixed;
		// 	width: 100%;
		// 	top: 68px;
		// 	left: 0;
		// 	margin-top: 0;
		// 	padding: 16px 24px 24px;
		// 	background-color: #f9f9fb;
		// 	overflow: hidden;
		// 	transition: 0.6s all ease-in-out;

		// 	// &[aria-hidden="true"] {
		// 	// 	height: 0;
		// 	// 	visibility: hidden;
		// 	// 	transform: translateY(-150%);
		// 	// }
		// 	// &[aria-hidden="false"] {
		// 	// 	height: 100vh;
		// 	// 	visibility: visible;
		// 	// 	transform: translateY(0);
		// 	// }
		// }
		&__search {
			.link-btn {
				&__link {
					border-radius: 0;
					padding: 16px 24px;
				}
			}
		}
		// .icon-wrapper {
		// 	display: flex;
		// 	flex-direction: column;
		// 	position: relative;
		// 	&.open {
		// 		width: auto;
		// 		height: 20px;
		// 	}
		// 	&.close {
		// 		display: none;
		// 		color: #fff;
		// 	}
		// }
		// .menu {
		// 	display: flex;
		// 	flex-direction: column;
		// 	justify-content: center;
		// 	align-items: center;
		// 	background-color: colors(primary);
		// 	width: 70px;
		// 	height: 70px;
		// 	&__text {
		// 		color: #fff;
		// 		font-size: 12px;
		// 		padding-top: 8px;
		// 	}
		// 	&:focus:not(:focus-visible) {
		// 		outline: none;
		// 	}
		// 	&:focus-visible {
		// 		outline: 2px solid #0000ff;
		// 	}
		// }
		// .global-navi {
		// 	margin: 24px 0;
		// 	&__list {
		// 		display: flex;
		// 		flex-direction: column;
		// 		border: 1px solid #a6adc6;
		// 		background-color: #fff;
		// 		border-radius: 4px;
		// 	}
		// 	&__item {
		// 		padding: 24px 16px;
		// 		&:not(:last-child) {
		// 			border-bottom: 1px solid #a6adc6;
		// 		}
		// 	}
		// 	&__link {
		// 		display: flex;
		// 		align-items: center;
		// 		justify-content: space-between;
		// 	}
		// }
	}
}
