.header {
	width: 100%;
	font-weight: bold;
	line-height: 1;

	&__wrapper {
		background-color: #fff;
		position: relative;
	}
	&__content {
		@extend .layout-default;
		display: flex;
		align-items: center;
		height: 100px;
	}
	&__menus {
		display: flex;
		align-items: center;
	}
	&__search {
		position: absolute;
		right: 0;
		background-color: colors(primary);
		color: #fff;
		.header-link {
			font-size: 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 8px;
			padding: 24px 32px;
			.search-icon {
				font-size: 24px;
			}
		}
	}
	&__icon {
		flex-grow: 1;

		.logo {
			margin-right: 20px;
			transition: 0.2s all ease-in-out;
			&:hover {
				opacity: 0.8;
			}
			width: 180px;
			height: auto;
		}
	}
	&__navi {
		display: none;
	}
}

@media (max-width: breakpoint(sp)) {
	.header {
		width: 100%;
		max-width: 100%;
		min-width: auto;
		padding: 0;
		height: 68px;
		font-size: 18px;

		&__wrapper {
			border-radius: 0;
			padding: 0;
			height: 68px;
			position: fixed;
			z-index: z-index(layer-4);
			top: 0;
			width: 100%;
		}
		&__icon {
			.logo {
				margin-left: 16px;
				width: 120px;
			}
		}
		&__content {
			padding: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #fff;
			position: relative;
			z-index: z-index(layer-4) - 20;
			height: 70px;
		}
		&__search {
			.header-link {
				font-size: 14px;
				padding: 16px 24px;
				.search-icon {
					font-size: 16px;
				}
			}
		}
	}
}
